<!DOCTYPE html>
<html lang="de">
  <head>
    {% if env.isProduction %}
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; connect-src 'self'; img-src 'self' https://piwik.technologiestiftung-berlin.de; script-src 'self' https://piwik.technologiestiftung-berlin.de; style-src 'self'; font-src 'self'; manifest-src 'self'; object-src 'none'; frame-src youtube.com www.youtube.com;"
    />
    {% endif %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>

    {% include "partials/meta.liquid" %}

    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="stylesheet" href="/style.css" />
  </head>

  <body class="min-h-screen flex flex-col justify-between">
    {% include "partials/header.liquid" %}
    {{ content }}
    {% include "partials/footer.liquid" %}
  </body>
</html>
