---
layout: /layouts/base.liquid
---

{% include "partials/home_hero.liquid" %}

<main id="intro">
  {% include 'partials/introduction.liquid' %}

  {% include 'partials/moderne_verwaltung.liquid' %}
  <br />
  {% include 'partials/service-design.liquid' %}
</main>

{% include 'partials/ersten_modul.liquid' %}

{% include 'partials/in_practice.liquid' %}
