---
layout: /layouts/base.liquid
---

{% include "partials/home_hero.liquid" %}

<main id="intro">
  {% include 'partials/introduction.liquid' %}

  {% include 'partials/moderne_verwaltung.liquid' %}
  <br />
  {% include 'partials/service-design.liquid' %}
</main>

<section>
  <h2>Gleich loslegen mit dem ersten Modul</h2>
  <a href="/module/service-design-und-nutzerorientierung"
    >Service Design und Nutzerorientierung</a
  >
  <a href="/module">Alle Module</a>
</section>

<aside>
  <h2>In der Praxis: Die Pilot-Schulung 2021</h2>
  <p>
    Die Weiterbildung xxx ist ein vom CityLab durchgeführtes Pilotprojekt. 16
    Mitarbeiter:innen der Berliner Senats- und Bezirksverwaltung haben an realen
    Verwaltungsprozessen die Prinzipien und Werkzeuge der nutzerzentrierten
    Prozessgestaltung erlernt.
  </p>
  <h3>O-Töne unserer Teilnehmer:innen</h3>
  <ul>
    {% for quote in quotes %}
    <li>"{{ quote }}"</li>
    {% endfor %}
  </ul>
</aside>
