---
layout: /layouts/base.liquid
---

{% include "partials/home_hero.liquid" %}

<main id="intro">
  <div>
    <h2>Einführung</h2>
    <p>
      Mitarbeiter:innen der Verwaltung sind heute oft ausführendes Organ des
      Innovationsbestrebens und -drucks der öffentlichen Hand: Prozesse werden
      umgestaltet und digitalisiert; es gilt nach Außen diverse Zielgruppen
      anzusprechen und intern fach- und behördenübergreifend zusammenzuarbeiten.
      Das benötigt Know-How und Methodenwissen.
    </p>
    <p>
      Die Weiterbildung ist eine Möglichkeit, dieses Wissen zu erwerben und wird
      hier in einem konzentrierten Überblick vorgestellt.
    </p>
  </div>

  {% include 'partials/moderne_verwaltung.liquid' %}
  <br />
  {% include 'partials/service-design.liquid' %}
</main>

{% include 'partials/ersten_modul.liquid' %}

<aside>
  <h2>In der Praxis: Die Pilot-Schulung 2021</h2>
  <p>
    Die Weiterbildung xxx ist ein vom CityLab durchgeführtes Pilotprojekt. 16
    Mitarbeiter:innen der Berliner Senats- und Bezirksverwaltung haben an realen
    Verwaltungsprozessen die Prinzipien und Werkzeuge der nutzerzentrierten
    Prozessgestaltung erlernt.
  </p>
  <h3>O-Töne unserer Teilnehmer:innen</h3>
  <ul>
    {% for quote in quotes %}
    <li>"{{ quote }}"</li>
    {% endfor %}
  </ul>
</aside>
