<div class="container px-4 sm:px-8 md:px-12 py-2 sm:py-8 md:py-8 flex justify-start mlg:justify-end">
  <p>Lizenz der Arbeitsblätter und Texte: <a href="https://creativecommons.org/licenses/by/3.0/de/" class="underline focus:ring-white">CC-BY</a> (Urheber: CityLAB Berlin)</p>
</div>