<section
  class="container max-w-7xl px-4 py-16 md:py-24"
  aria-label="Highlight des ersten Moduls als Einstiegsmöglichkeit"
>
  {% include 'partials/heading.liquid' content: 'Gleich loslegen mit dem ersten
  Modul' class: 'pr-[28%] md:pr-0 text-magenta-500' %}
  <a
    href="/module/service-design-und-nutzer:innenorientierung/"
    class="flex gap-2 flex-col md:grid md:grid-cols-[auto,1fr,7fr,2fr] md:gap-8 bg-blue-50 bg-opacity-50 pl-8 pr-[28%] md:pr-0 pt-8 md:pt-5 pb-6 my-6 md:my-10 md:items-center relative"
    aria-label="Zum ersten Modul Service Design und Nutzer:innenorientierung navigieren"
  >
    <span
      class="text-5xl md:text-7xl -mt-4 text-magenta-500 leading-10 font-semibold mb-2 md:mb-0"
      >01</span
    >
    <h3 class="text-xl md:text-2xl leading-tight -mt-1">
      Service Design und Nutzer:innen&shy;orientierung
    </h3>
    <div>
      <p class="text-blue-300 max-w-md leading-tight">
        Service Design erzeugt gute Angebote, die Stress für Mitarbeiter:innen
        reduzieren, Geld sparen und Ressourcen freisetzen.
      </p>
    </div>
    <div class="md:relative">
      <img
        src="/assets/images/modules/01_hero.webp"
        aria-label="Abstrakte Illustration zum Modul 1: Service Design und Nutzer:innenorientierung"
        class="w-1/4 md:w-full h-auto absolute right-0 top-0 md:top-1/2 -translate-y-1/2"
        width="193"
        height="325"
      />
    </div>
  </a>
  <a
    href="/module"
    class="px-3 pt-1 pb-1 md:pb-2 bg-magenta-500 text-white text-base md:text-lg xl:text-xl text-center transition-colors hover:bg-magenta-400 focus:ring-white"
    aria-label="Zur Übersicht der Modul-Seiten navigieren"
    >Alle Module</a
  >
</section>
