<header
  class="sticky z-10 top-0 w-full bg-blue-500 text-white border-b border-blue-300 pt-3 pb-4"
  aria-label="Kopfbereich mit dem Logo und der Navigation"
>
  <section
    class="px-4 container max-w-7xl flex justify-between items-center"
    aria-label="Inhalte des Kopfbereichs"
  >
    <a
      href="/"
      aria-label="Hauptseite der Webseite"
      class="opacity-100 transition-opacity hover:opacity-80 origin-left transform scale-90 sm:scale-100"
    >
      {% include 'partials/logo.liquid' %}
    </a>
    <nav class="flex items-center gap-8" aria-label="Hauptmenü der Website">
      <ul aria-label="Liste der Hauptmenü Links">
        <li class="inline-flex gap-6" aria-label="Link im Hauptmenü">
          <a
            href="/module"
            class="text-blue-100 font-bold md:text-lg opacity-100 transition-opacity hover:opacity-80"
            aria-label="Übersichtseite aller 8 Module zur agilen Behördenarbeit"
          >
            <span class="sm:inline hidden" aria-hidden="true">→</span> Module
          </a>
        </li>
      </ul>
      <div
        class="pl-8 gap-3 pt-1.5 hidden md:inline-flex border-l border-blue-300 text-blue-200"
      >
        Ein Angebot des
        <a
          href="https://citylab-berlin.org"
          class="opacity-100 transition-opacity hover:opacity-80"
          aria-label="Logo vom Projekt CityLAB Berlin, der Technologiestiftung Berlin"
        >
          {% include 'partials/citylab_logo_monochrome.liquid' %}
        </a>
      </div>
    </nav>
  </section>
</header>
