<header>
  <a href="/">Logo</a>
  <nav>
    <ul>
      <li>
        <a href="/module">→ Module</a>
      </li>
    </ul>
  </nav>
  <div>
    Ein Angebot des <a href="https://citylab-berlin.org">CityLAB Berlin</a>
  </div>
</header>