{% capture herausforderung %}
<h3 class="text-magenta-500 font-bold leading-tight mb-2 text-lg">
  {{ title }}
</h3>
{{ content }}
{% endcapture %}
<li>
  {% include 'partials/angle_block.liquid' tag: 'li' content: herausforderung %}
</li>
