<section class="bg-blue-500">
  <h1>{{ heroTitle }}</h1>
  <h2>So machen Sie Ihr Team fit für die Zukunft</h2>
  <p>Digitale, agile und nutzer:innen-orientierte Prozesse sind wesentlich für den anstehenden Wandel in allen Bereichen des öffentlichen Lebens. Mit der Weiterbildung xxx geben wir auf diese Herausforderung eine konkrete und umsetzbare Antwort. Lassen Sie sich inspirieren.</p>
  <a href="/module">Direkt zu den Modulen</a>
  <a href="#intro">Mehr Informationen</a>
</section>