<aside
  class="container max-w-7xl py-8 px-8 bg-blue-50 bg-opacity-50 grid grid-cols-1 md:grid-cols-12 gap-8 mt-4 sm:mt-8 md:mt-16"
  aria-label="Abschnitt “In der Praxis”"
>
  <div
    class="col-span-1 md:col-span-4 order-first md:order-none"
    aria-label="Einführung vom Abschnitt “In der Praxis”"
  >
    {% include 'partials/heading.liquid' content: 'In der Praxis: Die
    Pilot-Schulung 2021' class: 'pb-3 sm:pb-5 text-magenta-500 max-w-prose' %}
    <p class="max-w-prose">
      Die Weiterbildung <i>Service:Agentinnen</i> ist ein vom CityLab
      durchgeführtes Pilotprojekt. 16 Mitarbeiter:innen der Berliner Senats- und
      Bezirksverwaltung haben an realen Verwaltungsprozessen die Prinzipien und
      Werkzeuge der nutzer:innenzentrierten Prozessgestaltung erlernt.
    </p>
  </div>
  <img
    src="/assets/images/schulung.webp"
    aria-label="Viele Menschen stehen um einen Tisch herum"
    class="col-span-1 md:col-span-8 lg:col-start-9 lg:col-span-4 w-full aspect-auto"
    width="800"
    height="384"
  />
  <div
    class="col-span-1 md:col-span-12"
    aria-label="Abschnitt mit Zitate unserer Teilnehmer:innen"
  >
    <h3 class="text-lg sm:text-xl md:text-2xl text-magenta-500">
      O-Töne unserer Teilnehmer:innen
    </h3>
    <ul
      class="mt-7 grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8"
      aria-label="Liste der Teilnehmer:innen Zitate"
    >
      {% for quote in quotes %}
      <li
        class="px-5 py-4 text-base md:text-lg bg-white italic"
        aria-label="Zitate einer Teilnehmer:in"
      >
        <blockquote>"{{ quote }}"</blockquote>
      </li>
      {% endfor %}
    </ul>
  </div>
</aside>
