<div
  class="my-16 md:mt-32 md:mb-24 px-4 container max-w-7xl grid grid-cols-1 md:grid-cols-12 gap-5 md:gap-8"
>
  <div class="md:col-span-4">
    {% include 'partials/heading.liquid' content: 'Einführung' class: 'pb-3
    sm:pb-5 text-magenta-500' %}
    <p>
      Mitarbeiter:innen der Verwaltung sind heute oft ausführendes Organ des
      Innovationsbestrebens und -drucks der öffentlichen Hand: Prozesse werden
      umgestaltet und digitalisiert; es gilt nach Außen diverse Zielgruppen
      anzusprechen und intern fach- und behördenübergreifend zusammenzuarbeiten.
      Das benötigt Know-How und Methodenwissen.
    </p>
    <p class="mt-4">
      Die Weiterbildung ist eine Möglichkeit, dieses Wissen zu erwerben und wird
      hier in einem konzentrierten Überblick vorgestellt.
    </p>
    <p class="mt-4"></p>
    Ziel ist es,
    <ul class="list-disc pl-6 prose">
    <li>den Ansatz Service Design näher zu bringen und seine Werkzeuge zu erläutern,</li>
    <li>und konkretes Wissen und Arbeitsmaterialien zur Verfügung zu stellen.</li>
  </ul>
    </p>
  </div>
  <div class="order-first md:order-last md:col-span-8">
    <iframe
      class="aspect-video w-full"
      src="https://www.youtube-nocookie.com/embed/iqpsEzLdl_k"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <div class="bg-blue-50 bg-opacity-50 py-3 px-4">
      <p class="max-w-prose">
        Rückblick auf die erste ServiceAgent:innen-Schulung 2021. (06:01 min)
      </p>
    </div>
  </div>
</div>
