<div class="mt-16 px-4 container grid grid-cols-1 md:grid-cols-12 gap-4">
  <div class="md:col-span-4">
    {% include 'partials/heading.liquid' content: 'Einführung' class: 'pb-3
    sm:pb-5' %}
    <p>
      Mitarbeiter:innen der Verwaltung sind heute oft ausführendes Organ des
      Innovationsbestrebens und -drucks der öffentlichen Hand: Prozesse werden
      umgestaltet und digitalisiert; es gilt nach Außen diverse Zielgruppen
      anzusprechen und intern fach- und behördenübergreifend zusammenzuarbeiten.
      Das benötigt Know-How und Methodenwissen.
    </p>
    <p class="mt-4">
      Die Weiterbildung ist eine Möglichkeit, dieses Wissen zu erwerben und wird
      hier in einem konzentrierten Überblick vorgestellt.
    </p>
  </div>
  <div class="order-first md:order-last md:col-span-8">
    Video
  </div>
</div>
