<section
  class="my-16 md:mt-32 md:mb-24 px-4 container max-w-7xl grid grid-cols-1 md:grid-cols-12 gap-5 md:gap-8"
  aria-label="Einführungsabschnitt der Hauptseite"
>
  <div class="md:col-span-4">
    {% include 'partials/heading.liquid' content: 'Einführung' class: 'pb-3
    sm:pb-5 text-magenta-500' %}
    <div class="prose sm:text-lg xl:text-xl">
      <p>
        Mitarbeiter:innen der Verwaltung sind heute oft ausführendes Organ des
        Innovationsbestrebens und -drucks der öffentlichen Hand: Prozesse werden
        umgestaltet und digitalisiert; es gilt nach Außen diverse Zielgruppen
        anzusprechen und intern fach- und behördenübergreifend zusammenzuarbeiten.
        Das benötigt Know-How und Methodenwissen.
      </p>
      <p>
        Die Weiterbildung ist eine Möglichkeit, dieses Wissen zu erwerben und wird
        hier in einem konzentrierten Überblick vorgestellt.
      </p>
      <p>
        Ziel ist es,
        <ul class="pl-6" aria-label="Liste der Ziele">
          <li>den Ansatz Service Design näher zu bringen und seine Werkzeuge zu erläutern,</li>
          <li>und konkretes Wissen und Arbeitsmaterialien zur Verfügung zu stellen.</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="order-first md:order-last md:col-span-8" aria-label="Videoabschnitt">
    <div
      id="video-placeholder"
      class="aspect-video relative grid bg-blue-25 group text-magenta-500 hover:text-blue-500"
      role="button"
      aria-label="Einführungsvideo abspielen"
    >
      <img
        src="/assets/images/video-placeholder.webp"
        alt="Platzhalterbild für die Einführungsvideo"
        class="object-cover w-full h-full"
        width="750"
        height="422"
        aria-label="Vorschau-Bild des Videos"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="92"
        height="92"
        viewBox="0 0 92 92"
        class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
        aria-label="Play-Button Symbol"
      >
        <circle
          cx="46"
          cy="46"
          r="46"
          fill="currentColor"
          class="transition-colors"
        />
        <polygon fill="#FFF" points="36 25 36 67.007 64.019 46.004" />
      </svg>
    </div>
    <div class="bg-blue-50 bg-opacity-50 py-3 px-4" aria-label="Video-Zusammenfassung">
      <p class="max-w-prose">
        Rückblick auf die erste ServiceAgent:innen-Schulung 2021. (06:01 min)
      </p>
    </div>
  </div>
</section>
