<section
  class="container max-w-7xl my-8 sm:my-12 md:my-16 p-4 py-8 sm:p-8 md:p-12"
>
  {% include 'partials/heading.liquid' content: 'Weiterführende Links' class:
  'mb-3 sm:mb-4 md:mb-5 text-magenta-500' %}
  <ul class="flex flex-col">
    {% for link in further_reading %}
    <li class="group">
      <a
        class="group-odd:bg-blue-50 group-odd:bg-opacity-50 p-4 pr-16 sm:p-6 md:p-8 sm:text-lg md:text-xl grid grid-cols-1 md:grid-cols-[1fr,2fr] lg:grid-cols-[2fr,3fr,1fr] gap-2 sm:gap-8 transition group-hover:text-magenta-500 relative"
        href="{{ link.link }}"
        aria-label="Link zu: {{ link.title }}"
      >
        <span>{{ link.title }}</span>
        <span class="opacity-60 transition-opacity group-hover:opacity-100">{{
          link.description
        }}</span>
        {% include 'partials/arrow_icon.liquid' class: '-rotate-90 absolute
        top-6 right-6 sm:top-8 sm:right-8 scale-75 sm:scale-100' %}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
