<section class="bg-magenta-500 text-white my-8 sm:my-12 md:my-16 flex flex-col">
  {% for method in methods %}
  <div
    class="container p-4 py-8 sm:p-8 md:p-12 grid grid-cols-1 md:grid-cols-[1fr,2fr] lg:grid-cols-[2fr,3fr,1fr] gap-8 sm:gap-12 md:gap-16"
  >
    <div>
      {% include 'partials/heading.liquid' content: method.title class:
      'text-white font-bold mb-1' %} {% if abstract %}
      <p class="mb-5 sm:text-lg xl:text-xl">{{ method.abstract }}</p>
      {% endif %}
      <a
        href="{{ method.doc_path }}"
        class="inline-block px-3 pt-1 pb-1 md:pb-2 bg-white text-blue-500 text-base md:text-lg xl:text-xl text-center transition-colors hover:text-magenta-500"
        >Arbeitsblatt downloaden</a
      >
    </div>
    <p class="sm:text-lg xl:text-xl">
      {{ method.description }}
    </p>
  </div>
  {% endfor %}
</section>
