<div class="container px-4 py-6 sm:py-8 md:py-16">
  {% include 'partials/heading.liquid' content: 'Herausforderungen für eine
  moderne Verwaltung' class: 'pb-3 sm:pb-5 md:pb-8' %}
  <ul
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 md:gap-8 lg:gap-12"
  >
    {% include 'partials/herausforderung.liquid' title: 'Transformation in allen
    Bereichen des öffentlichen Lebens' content: ' Digitale, agile und
    nutzer:innen-orientierte Prozesse sind wesentlich für den anstehenden Wandel
    in allen Bereichen des öffentlichen Lebens. In Zeiten der Digitalisierung
    sind sie unabdingbar. ' %} {% include 'partials/herausforderung.liquid'
    title: 'BürgerInnen erleben Nutzerzentrierung als Standard' content: '
    Verwaltung steckt bei diesen Ansprüchen in einem Dilemma: BürgerInnen
    erleben Nutzerzentriertheit als Standard in ihrem privaten Konsum und
    erwarten dies zunehmend auch von Verwaltung. Mit dem OZG hat die Erfüllung
    dieser Anforderungen zudem eine klare Deadline. ' %} {% include
    'partials/herausforderung.liquid' title: 'Es fehlt an Know-How und
    Methodenwissen' content: ' Führungskräfte stehen unter dem Druck der
    Umsetzung, ohne das entsprechende Know-How bereitstellen zu können. Die
    ausführenden Mitarbeiter:innen sind bisher nicht ausreichend geschult oder
    mit dem notwendigen Handwerkszeug ausgestattet. ' %}
  </ul>
</div>
