<li
  aria-label="Komponent des Moduls"
  class="px-3 py-2 bg-white bg-opacity-5 text-sm md:text-base"
>
  <b class="text-white">{{ title }}</b>
  <br />
  <span class="text-blue-200">{{ description }}</span>
</li>
