<div class="container px-4 py-2 sm:py-8 md:py-8">
      <div
        class="lg:grid lg:grid-cols-[auto,auto] gap-4 sm:gap-6 md:gap-8"
      >
        {{content}}
      </div>

    <details class="mt-2">
      <summary>
        <span class="pb-1 sm:pb-3"
          >Mehr Infos</span
        >
        <span class="w-6 h-6">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="rotate-0 group-open:-rotate-180 scale-75 transition-transform will-change-transform"
          >
            <polygon
              fill="#FFF"
              points="10.485 0 13.515 0 13.515 18.182 21.848 9.848 24 12 12 24 0 12 2.152 9.848 10.485 18.182"
            />
          </svg>
        </span>
      </summary>
      <div class="p-4">
      
    </details>
  </div>