<div class="container sm:px-4 py-6 sm:py-8 md:py-16">
  <div
    class="bg-blue-500 relative text-white px-8 p-4 pt-8 sm:p-6 md:p-8 sm:px-6 md:px-8 pb-24 bg-right-bottom bg-no-repeat sm:text-lg md:text-xl bg-[url(/assets/images/buildings.webp)] bg-[length:100px_auto] lg:bg-auto"
  >
    <header
      class="flex flex-col-reverse gap-6 sm:flex-row justify-between sm:items-center mb-4 sm:mb-6 md:mb-8"
    >
      <h2 class="text-3xl md:text-4xl max-w-[80%]">
        Service Design als Lösung
      </h2>
      {% include 'partials/logo.liquid' %}
    </header>
    <div
      class="lg:grid lg:grid-cols-[auto,1fr,1fr] gap-4 sm:gap-6 md:gap-8 max-w-5xl clear-left"
    >
      <img
        src="/assets/images/service-design.webp"
        alt="Abstract illustration of a woman interacting with a digital screen with other indiviuals"
        class="pr-8 pb-8 float-left lg:float-none absolute sm:static top-8 right-4 origin-top-right scale-[0.3] sm:scale-100"
      />
      <p class="mb-2 sm:mb-3 md:mb-4">
        Service Design arbeitet auf Grundlage des
        Nutzer&shy;Innen&shy;erlebnisses - denn niemand kann besser Auskunft
        geben als die Personen, die einen Service von Anfang bis Ende mit echten
        Bedürfnissen oder auch Handicaps durchlaufen. Dies ist für keine
        Institution wichtiger als für Verwaltung. Sie hat die größte und
        vielfältigste Zielgruppe, die zudem darauf angewiesen ist, die
        angebotenen Dienstleistungen zu nutzen.
        <br />
        <br />
        Service Design ist eine junge, oft noch unbekannte Designdisziplin. Wie
        der Name sagt, gestaltet Service Design Prozesse und Dienstleistungen
        und damit im Grunde jede ganzheitliche Erfahrung, die wir machen, wenn
        wir einem Angebot der privaten oder öffentlichen Hand begegnen.
      </p>
      <p class="mb-2 sm:mb-3 md:mb-4">
        Die Arbeitsweise Service Design ist durch das Zusammenwirken ihrer
        Methoden und die entstehende Dramaturgie automatisch agil.
      </p>
    </div>
  </div>
  <details
    class="bg-blue-500 text-white px-4 sm:px-6 md:px-8 border-t border-blue-300"
  >
    <summary
      class="pb-3.5 sm:pb-4 md:pb-5 pt-2 md:pt-3 sm:text-xl md:text-2xl underline underline-offset-1"
    >
      Umsetzung in dieser Weiterbildung
    </summary>
    <div
      class="pb-4 sm:pb-5 md:pb-6 grid grid-cols-1 sm:grid-cols-3 gap-2 sm:gap-3 md:gap-4"
    >
      <p>
        xxx setzt bei diesem Dilemma an und führt Führungskräfte wie auch
        Verwaltungs&shy;mit&shy;arbeiter&shy;:innen in die Methode
        Service-Design ein.
      </p>
      <p>
        Die Weiterbildung basiert auf dem Train-the-Trainer-Ansatz und befähigt
        dazu, die Werkzeuge nutzen und auch an Mitarbeiter:innen vermitteln zu
        können um Nutzerzentriertheit in die Behördenarbeit einzuführen.
      </p>
      <p>
        Jedes Modul beinhaltete einen erläuternden Überbau, angewandte Beispiele
        sowie Arbeits- und Hintergrundmaterial.
      </p>
    </div>
  </details>
</div>
