<section
  class="bg-magenta-500 text-white mt-8 sm:mt-12 md:mt-16 flex flex-col relative"
  aria-label="Aufruf zum Unterstützungsbedarf"
>
  <div
    class="container max-w-7xl p-4 py-8 sm:p-8 md:p-12 grid grid-cols-1 md:grid-cols-[1fr,2fr] lg:grid-cols-[2fr,3fr,1fr] gap-8 sm:gap-12 md:gap-16"
  >
    <div class="flex gap-8 flew-wrap">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 142 200"
        class="w-[88px] h-[125px] md:w-[142px] md:h-[200px] absolute sm:static top-8 right-8"
        role="img"
        aria-label="Abstrakte Illustration mit Fragezeichen in der Mitte"
      >
        <g fill="none" transform="translate(1.876 2.116)">
          <path
            fill="currentColor"
            d="M6.72,14.28 C7.56,8.736 10.92,6.384 15.372,6.384 C20.328,6.384 23.856,9.156 23.856,15.288 C23.856,22.428 19.656,25.368 13.272,25.368 L10.248,25.368 L10.248,36.624 L17.136,36.624 L17.136,29.736 C24.024,29.568 31.668,24.948 31.668,14.7 C31.668,6.048 25.452,0 15.876,0 C6.72,0 1.512,4.788 0,11.844 L6.72,14.28 Z M8.4,45.78 C8.4,48.72 10.668,50.988 13.692,50.988 C16.716,50.988 19.068,48.72 19.068,45.78 C19.068,42.756 16.716,40.572 13.692,40.572 C10.668,40.572 8.4,42.756 8.4,45.78 Z"
            transform="translate(46.124 85.162)"
          />
          <polygon
            stroke="currentColor"
            stroke-width="2"
            points="37.339 196.464 0 172.92 .711 67.682 76.929 19.43 113.103 42.321 112.956 148.229"
          />
          <polygon
            stroke="currentColor"
            stroke-width="2"
            points="104.848 196.464 88 185.84 88.321 138.355 122.712 116.583 139.034 126.912 138.968 174.699"
          />
          <polygon
            stroke="currentColor"
            stroke-width="2"
            points="44.171 62.609 30.966 54.283 31.217 17.065 58.172 0 70.966 8.096 70.913 45.551"
          />
        </g>
      </svg>
      <h3 class="text-xl sm:text-2xl md:text-3xl mt-6">
        Unter&shy;stützung <br />
        benötigt?
      </h3>
    </div>
    <div
      class="text-lg md:text-xl gap-8 flex flex-col items-start pt-6 leading-tight sm:leading-normal"
    >
      <p class="max-w-[70%] sm:max-w-md sm:text-lg xl:text-xl">
        Wenn Sie mehr zum Thema Service Design und zum agilen Arbeiten in
        Behörden erfahren möchten, melden Sie sich bei uns.
      </p>
      <a
        href="mailto:info@citylab-berlin.org"
        class="px-3 pt-1 pb-1 md:pb-2 bg-white text-blue-500 text-base md:text-lg lg:text-xl text-center transition-colors hover:text-magenta-500 focus:ring-blue-500"
        aria-label="Kontakltieren Sie uns per E-Mail an info@citylab-berlin.org"
      >
        info@citylab-berlin.org
      </a>
      <button
        id="back-to-top-link"
        class="absolute -top-4 right-4 -translate-y-full transition hover:bg-blue-500 bg-magenta-500 text-white w-12 h-12 flex items-center justify-center focus:ring-blue-500"
        aria-label="Zurück zum Seitenanfang “hochscrollen”"
      >
        {% include 'partials/arrow_icon.liquid' class: '-rotate-180' %}
      </button>
    </div>
  </div>
</section>
